<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="#"> <img src="/public/iste logo.jpg" class="rounded-circle" alt="logo" style="width: 50px;">
        <a class="navbar-brand" href="#!">Webed</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item active"><a class="nav-link active" aria-current="page" href="/homepage">Home</a></li>
                <li class="nav-item"><a class="nav-link active" href="/about1">About</a></li>
                <li class="nav-item" ><a class="nav-link" href="/create/edit">Create/Edit</a></li>
                <li class="nav-item"><a class="nav-link" href="/login/register">Login/Register</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">
                     <img src="/public/login.png" class="rounded-circle" alt="login" style="width: 30px;"></a></li>
                     
            </ul>
        </div>
    </div>
    
</nav>