<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <!--
<link href="/public/style.css" rel="stylesheet" />
<link rel="stylesheet" href="/public/color.css"  />
    -->
    <link rel="stylesheet" href="/public/color.css"  />
<link href="/public/styles.css" rel="stylesheet" />

<title>login</title>
</head>
<body>

    <%- include('./partials/nav.ejs') %>
    <div class="container">
        <div class="jumbotron">
            <h2 class="text-center text-capitalize mb-5 ms-auto mx-auto">Login</h2>
            <%- include ('./partials/messages') %>


            <div class="row">
                <div class="col-md-8 mx-auto">
                    <form action='/login/register' method="post" >
                      
                     
                      <div class="form-group">
                        <label for="exampleFormControlTextarea2">Username</label>
                        <input name="username" type="text" placeholder="enter content "class="form-control" id="exampleFormControlTextarea2" required >
                      </div>

                      <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input name="password" type="password" class="form-control" id="exampleInputPassword1" required>
                      </div>

                     

                        <!--<div class="form-group">
                          <label for="exampleInputEmail1">Email address..</label>
                          <input name = "email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">author</label>
                          <input name="author" type="text" class="form-control" id="exampleInputPassword1">
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Content</label>
                            <textarea name="body" placeholder="enter content "class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                          </div>
                        <div class="form-group form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>-->
                          <!--<form>-->
                           <!-- <div class="form-group">
                              <label for="exampleFormControlFile1">Example file input</label>
                              <input name="img" type="file" class="form-control-file" id="exampleFormControlFile1" value="" >
                           
                            </div>-->
                          <!--</form>-->
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <div>
                            <li class="nav-link"><a class="nav-link" href="/register">New User ? Register here...</a></li>
                            </div>
                      </form>
                </div>
            </div>
          </div>
      </div>
</body>
</html>